<!doctype html>
<html id="<%= id %>">

<head>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="The LivingStyleGuide Gem – http://livingstyleguide.org" name="generator">
<title><%= ERB::Util.h(title) %></title>
<script>
// see: http://www.hagenburger.net/BLOG/Simple-HTML5-Fix-for-IE.html
for(var e,l='article aside footer header nav section time picture'.split(' ');e=l.pop();document.createElement(e));
</script>
<style>
<%= css %>
</style>
<%= head %>
</head>

<body class="livingstyleguide">
<%= header %>
<div class="lsg--container">
<%= html %>
</div>
<%= footer %>
</body>

</html>
