!!!html5
%html
  = partial 'layouts/head'
  %body.layout(class="#{'-subpage-' unless data.page.root}")
    = partial 'layouts/header'
    .layout--container
      = yield
    = partial 'layouts/footer'
