!!!html5
%html
  = partial 'layouts/head'
  %body.layout(class="#{'-subpage-' unless data.page.root}")
    = partial 'layouts/header'
    .layout--container
      %h1.blog--headline= data.page.title
      .markdown
        = yield
    = partial 'layouts/footer'
