!!!html5
%html
  = partial 'layouts/head'
  %body.layout(class="#{'-subpage-' unless data.page.root}")
    .layout--container
      = partial 'layouts/header'
      .layout--content
        %h1.blog--headline= data.page.title
        .markdown
          = yield
      = partial 'layouts/footer'
